<ion-view title="Billing History"    >  
    <ion-content>

  	
	<div class="fluid-container container_decoration background_blue">

		<form role="form" name="BillingHistoryFilterFrm"  >
		

	    <div class="container">
	    	
			<div class="top_container ">
	    		<div class="">
	    			<button ng-click="home()" class="color_yellow font_size_18 transparentButton ">RETURN</button>
	    		
	    			<button ng-disabled="BillingHistoryFilterFrm.$invalid"  ng-click="BillingHistoryFilter(BillingHistory1)" type="submit" class="color_yellow transparentButton font_size_18 pull-right">FILTER</button>
	    		</div>
	    	</div>
			
			
	    	<div class="row top_container ">
	    		<div class=" col-sm-4 row_0">	
	    			<img src="image/rclogo.png" alt="logo" class="img-responsive margin_auto  img_cust_css ">
	    		</div>
	    		<div class=" col-sm-8  margin_top_30 row_0">
	    			<div class="row margin_top_10">
	    				<label class="item item-input transparentInput  width_100">FROM</label>
			    		<input type="date" class="width_60_pr background_yellow " ng-init="BillingHistory1.From=''" value="" ng-model="BillingHistory1.From" name="FROM"  required>
	    			</div>
	    			<div class="row  ">
	    				<label class="item   item-input transparentInput  margin_top_10 width_100">TO</label>
			    		<input type="date" class=" width_60_pr background_yellow margin_top_10" ng-init="BillingHistory1.To=''" value=""  ng-model="BillingHistory1.To"  name="TO" required>
	    			</div>
		    	</div>
	    	</div>
	    </div>	
		</form>
		<div class="table_container margint_top_30">
		    <div class="table-responsive ">          
				<table class="table borderless color_white">
					<thead class="background_navi_blue">
						<tr>
							<th class="padding_10_30">TRANSACTION NO.</th>
							<th>DATE</th>
							<th>AMOUNT</th>
						</tr>
					</thead>
					<tbody class="font_size_12">
						<tr ng-repeat="BillingHistory in BillingHistoryData" >
							<td class="word_wrap1">{{BillingHistory.Invoice__c}}</td>
							<td class="word_wrap1">{{BillingHistory.SystemModstamp}}</td>
							<td class="word_wrap1">£ {{BillingHistory.Amount__c}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	    
	  

	</div>
    </ion-content>

</ion-view>  
<style>

button.transparentButton{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.img_cust_css {
    min-width: 90px;
}
.word_wrap1{
	word-wrap: break-word;
}
</style>

