<ion-view title="Emergency Contact" >  
    <ion-content>

  
	<div class="fluid-container container_decoration background_blue">
	
	 <div class="container">
	 <form role="form" id="EmergencyContactSubmit" name="EmergencyContactSubmit" >
		    	
		    
	    	<div class="row top_container">	
	    		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  ">
	    			<button ng-click="PersonalInfo()"class="color_yellow font_size_18 transparentButton ">RETURN</button>
	    		</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
	    			<button ng-disabled="EmergencyContactSubmit.$invalid"  ng-click="EmergencyContactFormSubmit( )"  type="submit" class="color_yellow transparentButton font_size_18 pull-right">SAVE</button>
	    		</div>
	    	</div>	
	    		<div class="row MEDICAL  "  ng-repeat="MedicalInfoSubmit in EmergencyContactData track by $index"  >
		    		<input type="hidden" placeholder="UserId"  class=" item items max_width_482" >
			    		
		    		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"   >
		    			<div class="form-group ">
		    				<label class="color_white">Emergency Contact</label>
							
							<input type="hidden" placeholder="FIRST NAME " class=" medCon1 textbox_details " name="Id" value="{{ MedicalInfoSubmit.Id}}">
			    			<br>
							<label class="color_white">First Name</label>
							<input type="text" placeholder="FIRST NAME" class=" medCon1 textbox_details " name="First_Name__c" value="{{ MedicalInfoSubmit.First_Name__c}}" required >
			    			<label class="color_white">Last Name </label>
							<input type="text" placeholder="LAST NAME " class=" medCon1 textbox_details " name="Last_Name__c" value="{{ MedicalInfoSubmit.Last_Name__c}}" required >
							<label class="color_white">Telephone Number</label>
							<input type="text" placeholder="TELEPHONE NUMBER " class="medCon1 textbox_details " name="Home_Phone__c" value="{{MedicalInfoSubmit.Home_Phone__c}}" required >
							<label class="color_white">Mobile Number</label>
							<input type="text" placeholder="MOBILE NUMBER "  class="medCon1 textbox_details " name="Mobile_Phone__c" value="{{MedicalInfoSubmit.Mobile_Phone__c}}" required  >
							<label class="color_white">Description</label>
							<textarea class=" textbox_details medCon1  " maxlength="150" name="Description__c"  rows="10" value="{{MedicalInfoSubmit.Description__c}}" required  placeholder="DESCRIPTION (RELATION)"> {{MedicalInfoSubmit.Description__c}}</textarea>
         
			    		
						</div>
			    	</div>
					
			    </div>
			<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="AppendAdd"></div>
			    
			
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  >
		    			<div class="form-group ">
		    				<label class="color_white"></label>
							<!--<addbuttonsbutton1></addbuttonsbutton>-->
						
	    			</div>
			</div>
			
			</div>
	
	
	   		</form>		 
		</div>  		
	</div>
		<input type="hidden" id="EmergencyContactCount" value="{{ EmergencyContactCount}}">
    </ion-content>

</ion-view>  

<style>
.form-group > textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
   padding: 10px;
       font-weight: bold;
	       color: #b2b2b2;
}

button.transparentButton{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.medCon1 {
    margin-bottom: 15px;
}
</style>
