<ion-view title="Personal Info" >  
    <ion-content>

    <div class="fluid-container">

      <div class="sessions list">

       <a ng-click="PersonalInfoPage()" class="item text-center list-bg-4  p_i1">
				<img class="img-responsive  margin_auto"  src="image/personal_info.png" alt=" PERSONAL INFO"></img>
				<p class="fa_font fa_color_white">PERSONAL INFO</p>
				</a>

       <a ng-click="MedicalInfo()" class="item text-center list-bg-6 m_i1">
				<img class="img-responsive  margin_auto"   src="image/medical_logo.png" alt=" MEDICAL INFO"></img>
				<p class="fa_font fa_color_white">MEDICAL INFO</p>
				</a>
		
		
		<a ng-click="EmergencyContact()" class="item text-center list-bg-2 e_c1">
				<img class="img-responsive margin_auto "   src="image/contact_logo.png" alt=" EMERGENCY CONTACT"></img>
				<p class="fa_font fa_color_blue">EMERGENCY CONTACT</p>
				</a>		
      </div>
    </div>
    <!-- /.container -->
 
    </ion-content>

</ion-view>  