

/*container css*/
.container_decoration{
	background-color: rgb(8, 25, 37); 
	min-height: 1024px;
     

}
.container_decoration_payments1
{
	background-color: #0a4c88; 
	padding-bottom: 100px;
	min-height: 1024px;
}
/*styling for logo*/
.width_518
{
 
width:518px;
}
.width_300{
	width: 300px;
}
.padding_10{
	padding: 10% 0%;
}

.margin_auto
{
	margin:0 auto; 
}

.margin_top_10_pr
{
	padding-top: 10%;
}
.margin_bottom_10_pr
{
	padding: 10% 5%;
}
.respo_margin_bottom_10_pr
	{
		padding:100px 10px 70px 10px;
	}

/* styling  for login page*/
.width_377
{
width:377px;

}

.width_80
{
	width:90%;
}

.height_76
{
	height:40px;
	margin-bottom:40px;
}

.border-radius
{
	border-radius: 10px;
}

.custom_btn 
{
	height:58px;
    width: 177px ;
	background-color:#0a1a25;
	color:#ffffff;
	border:2px solid #4f575d;
	font-size:20px;
	border-radius: 10%;
	
}
a:hover, a:focus {
  
  text-decoration: none;
}

.button_container{
	padding:0 12px;
	max-width: 200px;
    margin: auto;
	
}

/*styling for menupage*/

.song_library
{
	height:265px;
	background-color:#fbe215;
	padding-top:50px;
}



.payments
{
	height:265px;
	background-color:#ffffff;
	padding-top:50px;
}


.personal_info
{
	height:265px;
	background-color:#0a1925;
	padding-top:39px;
}

.session_calender
{
	height:265px;
	background-color:#0a4c88;
	padding-top:50px;
}


.logout
{
	height:265px;
	background-color:#0a1925;
	padding-top:50px;
}


/*css for menu page*/

.fa_font
{
	font-size:20px;
	
}
.fa_color_blue
{
color:#092843;
}

.fa_color_white
{
	color:#ffffff;
}

/*********** css for page6 payments menu  *********/
.payment_menu
{
	/*height:668px;*/
	background-color:#0a4c88;
	
	
}
.payment_menu_color
{
	color:#cedae6;
}
.padding_top
{
	padding:150px 0px;
}
.billing_menu
{
	/*height:668px;*/
	background-color:#fbe215;
}
.payment_page6
{
	width:200px;
}

/*styling for page7 payments1*/

.navbar
{
	height:100px;
	
	
}

.navbar-custom {
    
    background-color:#0a1925;
	height:100px;
}
.navbar-header {
    float:left;
    padding:15px;
	padding-top:40px;
    text-align:center;
    width:100%;
}
.navbar-brand {
	float:none;
	
	}
 .paymentdiv
 {
	 /*padding:40px 36px 40px 36px;*/
 }
 .btn_width
 {

 }
 .btn-xlarge {
   
    font-size: 30px; 
    line-height: normal;
	float:left;
    margin:40px 40px 40px 40px;
}
.amount_due
{
	float:left;
	width:100%; 
	text-align:right;
}
.pound_due
{
	width:100%;
 	text-align:right;
 	font-size:60px;	
}
.date_due
{
float:left;
 width:100%; 
 color:#f2d81e;
 text-align:right;	
}

.monthly_btn
{
	border-right: 2px solid;
}
.baground_white
{
	background-color:#ffffff;
}
.cust_monthly
{
	height: 40px;
    width: 100%;
    color: #ffffff;
    font-size: 15px;
    padding: 0 !important;
}


.card_details
{
	padding-left:4px;
	font-size:14px;
	/*padding-top:20px;*/
}
.payment_form_div_cardbtn
{
	width:100%;
	margin-bottom:35px;
}
.payment_form_div_cardbtn_STARTDATE
{
	width:50%;
	margin-top:35px;
	float:right;
	
}
.payment_form_div_cardbtn_EXPIRYDATE
{
	float:right;
	/*margin-top: 10px;*/
	width: 50%;
}
.class_cvv
{
	width:48%;
	/*margin-top: 15px;*/
	margin-left: 10px;
}
.form-control{
	border-radius: 0px ;
}
.custom_color
{
background-color:#fbe215;	
}
.form_bg
{
	background-color:#fbe215;
}
form  .row {
     margin-right:0px !important; 
     margin-left:0px !important; 
}
.control_height
{
	height: 30px;
}
.text_align_left
{
	
	text-align:left;
}
.caret {
    position: absolute;
    right: 16px;
    top: 16px;
}
/* page 11 personal information*/
.personal_information
{
	height: 400px;
    background-color: #0a1925;
    padding-top: 120px;
}

.medical_info
{
	height: 400px;
	background-color:#0a4c88;
	padding-top: 120px;
}


.emergency_conctact
{
	height: 400px;
	background-color:#ffffff;
	 padding-top: 120px;
}

.border_right{
	border-right: 1px solid #000;  
}
.button_adjust{
	padding-right: 0px !important;
    padding-left: 0px !important;
}
.payment_form_div
{
	width: 90%;
	background-color:#ffffff;
	margin: 0 auto;
	padding-bottom: 20px;
	margin-top: 20px;
}

::-webkit-input-placeholder {
  
  	font-size: 15px;
 	color: #26729a;
}

:-moz-placeholder { /* Firefox 18- */
 	color: #26729a;
  	opacity:1;
  	font-size: 15px;
}

::-moz-placeholder {  /* Firefox 19+ */
  	color: #26729a;
 	opacity:1;
  	font-size: 15px;
}

:-ms-input-placeholder {  
   color: #26729a;
   font-size: 15px;
}
.text_box_shadow{
	box-shadow: 0px 10px 10px -3px #000;
}